<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example </title>
</head>
<body>

<table>

    <tr>

        <th/>
        ISBN</th>

        <td th:text="${book.ISBN}"/>


    </tr>
    <th/>
    BookName</th>
    <td th:text="${book.BookName}"/>
    <tr>
    </tr>
    <th/>
    AuthorName</th>
    <td th:text="${book.AuthorName}"/>
    <tr>
    </tr>
    <th>PublishDate</th>
    <td th:text="${book.PublishDate}"/>
    <tr>

    </tr>

</table>


</body>
</html>